ion-content.background {
    --background: url(../../../assets/loginUser/fondo_loginUser.jpg) 0 0/100% 100% no-repeat;
}

.divstyle {
    background-color: transparent !important;
    width: 70% !important;
    margin-top: 5% !important;
    margin-left: 17% !important;
}
.divtitle {
    margin-top: 10% !important;
    margin-left: 30% !important;
}
.title {
    font-size: 150%;
    color: white !important;
    padding: 0%;
    margin: 0%;
}

ion-item#style {
    --background: none !important;
}

ion-button#stlebutton {
    --padding-start: 10% !important;
    --padding-end: 10% !important;
}

ion-footer {
    font-size: 60% !important;
    text-align: center !important;
}
ion-header {
    display: inline-flex !important;
    width: 100%;
    #button {
        ion-button {
            text-align: left !important;
            --background: lightgrey !important;
        }
    }
    #titulo {
        padding-top: 5%;
        width: 70%;
        height: 100%;
        color: #000000 !important;
        text-align: center;
    }
}
