// clase manejo de listas desplegables
.itemList {
    display: none;
    --background-hover: blue !important;
}
//titulo Basico
.itemTituloBasico {
    padding-left: 40% !important;
    padding-bottom: 2% !important ;
    color: #fe952c !important;
}
.itemTituloSecond {
    color: #02bffa !important;
}
//titulo ubicacion
.itemTituloUbicacion {
    padding-left: 20% !important;
    padding-bottom: 2% !important ;
    color: #fe952c !important;
}

//tamaño letras items
.itemListadoElementos {
    font-size: 100%;
    padding-left: 8% !important;
    text-align: justify;
}

.itemListadoElementosBasicos {
    font-size: 100%;
    text-align: justify;
}

ion-footer {
    font-size: 60% !important;
    text-align: center !important;
}

ion-header {
    width: 100% !important;
    height: 5% !important;
    display: inline-flex !important;
    #titulo {
        padding-top: 2%;
        padding-bottom: 2%;
        width: 93%;
        color: #000000 !important;
        text-align: center !important;
    }
    #backIcon {
        width: 7%;
        height: 90%;
        padding: 1%;
        ion-icon {
            font-size: 150%;
        }
    }
}


