<ion-content class="background">
  <div class="divtitle">
    <strong class="title">AlertaSismoCol</strong>
  </div>
  <div class="divstyle">
    <ion-list>
      <ion-item id="style">
        <ion-input type="email" placeholder="Correo" [(ngModel)]="correo"></ion-input>
      </ion-item>
      <ion-item id="style">
        <ion-button color="primary" fill="clear" (click)="recuperarContrasena()">Recuperar</ion-button>
        <ion-button color="primary" fill="clear" (click)="pagRegresar()">Regresar</ion-button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
<ion-footer>
  UNIVERSIDAD DISTRITAL
</ion-footer>