<ion-app>
  <ion-menu side="start" menuId="first" contentId="main" disabled={{menu}}>
    <ion-header>
      <b>MENU</b>
    </ion-header>
    <ion-content>
      <div id="intoApp">
        <ion-list>
          <ion-item (click)="clickTodosSismos()">Todos los sismos</ion-item>
          <ion-item (click)="clickComoActuar()">Como actuar</ion-item>
          <ion-item (click)="clickCerrarSesion()">Cerrar sesion</ion-item>
        </ion-list>
      </div>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
