<ion-header>
  <div id="backIcon" (click)="backpage()"><ion-icon name="backspace-outline"></ion-icon></div>
  <div id="titulo">AlertaSismoCol</div>
</ion-header>
<ion-content>
  <div id="styleTitle">
    <h6>LISTADO ULTIMOS SISMOS</h6>
  </div>
  <ion-item *ngFor="let sismo of listasismos">
    <div id="styleList">
      <tr>
        <td id="td-Variables">Descripcion:</td>
        <td>{{sismo.descripcion}}</td>
      </tr>
      <tr>
        <td id="td-Variables">Fecha:</td>
        <td>{{sismo.fecha}}</td>
      </tr>
      <tr>
        <td id="td-Variables">Latitud:</td>
        <td>{{sismo.latitud}}</td>
      </tr>
      <tr>
        <td id="td-Variables">Longitud:</td>
        <td>{{sismo.longitud}}</td>
      </tr>
      <tr>
        <td id="td-Variables">Magnitud:</td>
        <td>{{sismo.magnitud}}</td>
      </tr>
      <tr>
        <td id="td-Variables">Tipo Movimiento:</td>
        <td>{{sismo.tipoMovimento}}</td>
      </tr>
    </div>
  </ion-item>
</ion-content>
<ion-footer>
  UNIVERSIDAD DISTRITAL
</ion-footer>